/* You can add global styles to this file, and also import other style files */

.text-center {
  text-align: center!important;
}

.text-color {
  color: var(--text-color) !important;
}
.text-color-secondary {
  color: var(--text-color-secondary) !important;
}
